html{
  scroll-behavior: smooth;
}
h1 {
  font-family: 'Georgia', serif;
  font-size: 2.75rem;
  line-height: 1.5;
  color:#fff;
  text-align:center;
}
h2{
  padding-bottom: 30px;
}
h4{
  text-align: left;
}



.navv{
  background-color:  #000;
  box-shadow: 2px 10px 25px;
  
}
.title {
  background-color: #ffc620;
  color: #000;
  

}


.container-fluid {
	
  padding: 3% 15% 0 15%;
  color: #000;
  /* padding-bottom: 100px; */
}

.title-photo{
  width:100%;
  position: relative;
  bottom:100px;
}
.nav-pic{
  width:10%;
}

p {
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Comic Sans MS',cursive;
}

/* navigation bar */
.navbar {
  padding: 1% 5%;
  
}

/* .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
} */

.nav-item {
  padding: 0 16px;
  font-size: 1.2rem;
}
/* .nav-link{
  padding: 0 10px;
} */
#Project1
{
	margin-top:2.5%;
	margin-left:1.5%;
	
}

#footer{
  padding: 7% 15%;
  background-color: #fff;
  text-align:center;
  height: 10%;
}
.foot-logo{
  margin: 0 10px;
}
.button-foot{
  border: none;
  background-color:#fff;
}
@media (max-width:1080px) {
  .floater-image{
    display: none;
  }
  .floater-text{
    position: static;
    width: 100%
  }
  .desc-row-two{
    float:right;
  }
}
