html{
  scroll-behavior: smooth;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.75rem;
  line-height: 1.5;
}
h2{
  padding-bottom: 30px;
}
h4{
  text-align: left;
}
.navv{
  background-color:  #fff;
  box-shadow: 2px 10px 25px;
}
/* #title {
  background-color: #e6e600;
  color: #fff;

} */

/* .container-fluid {
  padding: 3% 15% 0 15%;
  /* padding-bottom: 100px;
} */

/* .title-photo{
  width:100%;
  position: relative;
  bottom:100px;
} */
.nav-pic{
  width:10%;
}

p {
  color: #8f8f8f;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* navigation bar */
.navbar {
  padding: 1% 10%;
}

/* .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
} */

.nav-item {
  padding: 0 16px;
  font-size: 1.2rem;
}
/* .nav-link{
  padding: 0 10px;
} */
.maps{
  text-align: center;
  padding: 7% 10%;
}


#footer{
  padding: 7% 15%;
  background-color: #fff;
  text-align:center;
}
.foot-logo{
  margin: 0 10px;
}
.button-foot{
  border: none;
  background-color:#fff;
}


